<!DOCTYPE html>
<html lang="en">
<head>
    <title>Saving account pdf</title>
    <link rel="stylesheet" href="SavingAccout.css">
</head>
<body style="font-family: EmbArialBold">
        <header>
                <div style="display: flex;font-size: 12px;">
                    <div style="width: 55%; text-align: left">
                        <img src="BankIslamLogo2.png"  style="width: 55%; height:50px">
                        <div style="width:55%; margin-top: 20px; height: 90px; border-radius: 10px; border: 0.7 px solid black; text-align: left">
                        </div>

                        <div style="margin-top: 40px">
                            <p><span>PENYATA AKAUN / </span><span style="font-family: EmbArialItalicBold">ACCOUNT STATEMENT</span><br>
                                <span style="font-family: EmbArial">AKAUN AL-AWFAR / </span> <span style="font-family: EmbArialItalic">AL-AWFAR ACCOUNT</span> <br>
                                <span style="font-size: 11px ; font-family: EmbArial">(Tidak dilindungi oleh PIDM. /</span> <span style="font-family: EmbArialItalic">Not protected by PIDM.)</span></p>
                        </div>
                    </div>

                    <div style="width: 45%; text-align: right">
                        <img src="PerbankanIslamLogo.png"  style="height:50px">
                        <div style="margin-top: 45px; font-size: 11px; text-align: left">
                            <table style="width: 100%">
                                <tr>
                                    <td><span>TARIKH PENYATA</span><br><span style="font-family: EmbArialItalicBold">STATEMENT DATE</span></td>
                                    <td style="width:5%"><br>:</td>
                                    <td style="text-align: right"><br>15 / 03 / 2024</td>
                                </tr>
                                <tr>
                                    <td><span>HALAMAN</span><br><span style="font-family: EmbArialItalicBold">PAGE</span></td>
                                    <td><br>:</td>
                                    <td style="text-align: right"><br></td>
                                </tr>
                                <tr>
                                    <td><span>NOMBOR AKAUN</span><br><span style="font-family: EmbArialItalicBold">ACCOUNT NO</span></td>
                                    <td><br>:</td>
                                    <td style="text-align: right"><br>140140085200000</td>
                                </tr>
                                <tr>
                                    <td><span>CAWANGAN</span><br><span style="font-family: EmbArialItalicBold">BRANCH</span></td>
                                    <td><br>:</td>
                                    <td style="text-align: right"><br>MENARA BANK ISLAM</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
        </header>

        <div style="margin-top: 20px">
            <table class="second-table" style="width: 100%">

                <thead>
                        <tr style="background-color: lightgray; font-size: 11px">
                            <th style="width: 15%; border-right: 2px solid"><span>TARIKH</span><br><span style="font-family: EmbArialItalic">DATE</span></th>
                            <th style="width: 40%; border-right: 2px solid"><span>KETERANGAN</span><br><span style="font-family: EmbArialItalic">DESCRIPTION</span></th>
                            <th style="width: 15%; border-right: 2px solid"><span>DEBIT</span><br><span style="font-family: EmbArialItalic">DEBIT</span><br><span style="font-family: EmbArial">(RM)</span></th>
                            <th style="width: 15%; border-right: 2px solid"><span>KREDIT</span><br><span style="font-family: EmbArialItalic">CREDIT</span><br><span style="font-family: EmbArial">(RM)</span></th>
                            <th style="width: 15%"><span>BAKI</span><br><span style="font-family: EmbArialItalic">BALANCE</span><br><span style="font-family: EmbArial">(RM)</span></th>
                        </tr>
                </thead>

                <tbody>
                        <tr>
                            <td colspan="4" style="padding-left: 105px; border:none">BAL  B/F</td>
                            <td style="text-align: right ; border:none">1,011.56</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR </td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">15/03/2024</td>
                            <td style="text-align: left">0145 Transfer to SA ENCIK AHMAD AMMAR ARIEF BIN ABDUL KARIEM</td>
                            <td style="text-align: right">28.05</td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right">459.16</td>
                        </tr>


                </tbody>
            </table>
            <div style="border: 1px solid">
                <p style="background-color: black; color: white; padding:2px; font-size: 12px; margin-top: -1px; text-align: center; font-family: EmbArial">RINGKASAN AKAUN / SUMMARY OF ACCOUNT</p>

                <div style="display: flex; font-size: 11px; margin-top: -25px; padding: 5px; font-family: EmbLucidaConsole">
                    <div style="margin-left: 15px; width:30%">
                            <p>TOTAL DEBIT <br>
                               TOTAL CREDIT <br>
                               MONTHLY AVERAGE ( MYR )
                            </p>
                    </div>

                    <div style="text-align:center; width:25%">
                        <p>44<br>
                            5<br>

                        </p>
                    </div>

                    <div style="text-align:left; width:55%">
                        <p>7,442.46<br>
                            7,000.11<br>
                            158.01
                        </p>
                    </div>
                </div>

                <p style="background-color: black; color: white; padding:2px; font-size: 12px; margin-top: -1px; text-align: center; font-family: EmbArial">MESEJ / MESSAGE</p>
                <p style="font-size: 11px; text-align: center; margin-top: -5px; font-family: EmbLucidaConsole">
                    KETAHUI TANGGUNGJAWAB & LIABILITI AHLI KAD<br>
                    (DEBIT-i & KREDIT-i ) UNTUK MENGURANGKAN RISIKO<br>
                    URUS NIAGA TANPA KEBENARAN.<br>
                    INFO LANJUT , https://www.bankislam.com/tgjwbahlikad-i/
                </p>
            </div>
            <p style="font-size:9px; font-family: EmbArial"><span>sekiranya anda mendapati sebarang perbezaan, sila maklumkan kepada pihak Bank di dalam tempoh 14 hari daripada tarikh penyata ini. Jika tiada perbezaan, penyata ini akan dianggap betul.</span><br>
                <span style="font-family: EmbArialItalic">If you note any discrepancies, please advise the Bank within 14 days from the date of this statement, otherwise this account statement is considered to be correct.</span><br>
                 <span style="font-family: EmbArial">Untuk pertanyaan, ajukan kepada / </span><span style="font-family: EmbArialItalic">For enquiries, please chaneel to: </span><br>
                  Jabatan Khidmat pelanggan (Customer Care Department), Tingkat 17, Menera Bank Islam, No 22, Jalan Perak, 50450 Kuala Lumpur.<br>
                  Tel: 03-26 900 900 / Faks: 03-2782 1337. Emel / Email: <u>contactcenter@bankislam.com.my</u></p>
        </div>
</body>
</html>