<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>PDF Template</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 12px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      td {
        width: 20%;
        border: 1px solid;
        text-align: center;
        padding: 8px;
        box-sizing: border-box;
      }

      .bottom-border {
        /* border-bottom: 2px solid; */
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td class="bottom-border">Child 1</td>
        <td class="bottom-border">Child 2</td>
        <td class="bottom-border">Child 3</td>
        <td class="bottom-border">Child 4</td>
        <td class="bottom-border">Child 5</td>
      </tr>
      <tr>
        <td class="bottom-border">Child 6</td>
        <td class="bottom-border">Child 7</td>
        <td class="bottom-border">Child 8</td>
        <td class="bottom-border">Child 9</td>
        <td class="bottom-border">Child 10</td>
      </tr>
    </table>
  </body>
</html>
